* {
    color:black

}

body { 
            background-color: aqua ;
            text-align: center;
            background: url(../img/hello.jpg);
            
    }
h1 {
    font-size: 28px;
    color: brown ;
    background-color: aquamarine;
}

a {
    font-size: 20px;
    color: blue;
}

a[title*="Enlace"] {
  color: yellow;
}

a[target*="_blank"]  {
    color:rgb(64, 132, 43);
    font-weight: bold; 
}

a[title*="wwww"] {
  color: violet;
}

.claseEjemplo {
    background-color: chocolate;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.claseEjemplo input {
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}

.claseEjemplo button {
    font-weight: bold;
    border: 2px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: azure;
}



#nombre1 {
    color:black
}

#nombre2 {
    color: blue
}

#nombre3 {
    color: black;
}

#boton1 {
    background-color: violet;
}

#boton2 {
    background-color: rgb(35, 35, 8);
}

.botonera {
    text-align: right;
    margin-right: 10px;
    font-weight: bold;   
}

