body {
    background-color: aliceblue;
    text-align: center;
}

#cabecera {
    background-color: seashell;
    text-align: center;
}


.formularios {
    background-color: burlywood;
    padding-bottom: 10px;
    padding-top: 10px;
}

button {
    border-radius: 10px;
    padding: 10px;
}

.formularios button{
    
    font-weight: bold;
}

.botonera {
     text-align: right;
     margin-right: 10px;
}

